{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>Login</h1>
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <div>
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
    </main>
{% endblock content %}
