{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if task_list|length == 0 %}
                <p>You have no tasks</p>
            {% else %}
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Is completed</th>
                    </thead>
                    <tbody>
                        {% for item in task_list %}
                            <tr>
                                <td>{{item.name}}</td>
                                <td>{{item.start_date}}</td>
                                <td>{{item.due_date}}</td>

                                <td>
                                    {% if item.is_completed == 1 %}
                                        Done
                                    {% else %}
                                        <form method="post" action="{% url 'complete_task' item.id %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="is_completed" value=1>
                                            <button>Complete</button>
                                        </form>
                                    {% endif %}
                                </td>
                        {% endfor %}
                    </tr>

            {% endif %}
        </tbody>
    </table>
    </div>
    </main>
{% endblock content %}
